#masthead .masthead-button {
	font-size: 20px;
}

#navigation .navbar-wrapper .navigation-menu li.ext-hidden-mobile {

}

@media (max-width: 768px) {
	#navigation .navbar-wrapper .navigation-menu li.ext-hidden-mobile {
		display: none;
	}
}